{
  "printWidth": 160,
  "svelteSortOrder" : "options-styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true
}